<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka"/>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Common.Properties.Settings>
            <setting name="MasterMachineName" serializeAs="String">
                <value>localhost</value>
            </setting>
        </Common.Properties.Settings>
    </applicationSettings>
    <akka>
        <hocon>
            <![CDATA[
				akka {
						actor {
							 provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
							
						}
						
						remote {
							log-remote-lifecycle-events = DEBUG
							
							   helios.tcp {
                                    port =0 # bound to a dynamic port assigned by the OS
                                    hostname = localhost
        }
						}            
					
					}
			]]>
        </hocon>
    </akka>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>